################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AudioToolkit/Debug
/Debug
/Decode/Debug
/DShowCapture/Debug
/DXApp/Debug
/DXCapture/Debug
/DXFramework/Debug
/Encode/Debug
/AudioToolkit/Release
/Decode/Release
/DShowCapture/Release
/DXApp/Release
/DXCapture/Release
/DXFramework/Release
/Encode/Release
/GameDetour/Debug
/GameDetour/Release
/ipch
/MFCapture/Debug
/MFCapture/Release
/OpenGL/Debug
/Release
/TinyApp/Debug
/TinyApp/Release
/TinySmiley/Debug
/TinySmiley/Release
/TinyUI/Release
/TinyUI/Debug
/TinyUI.VC.VC.opendb
/TinyUI.VC.db
/IntelQSV/Debug
/IntelQSV/Release
/Decode/x64/Debug
/DWMCapture/Debug
/Encode/x64/Debug
/IntelQSV/x64/Debug
/MFCapture/x64/Debug
/x64/Debug
/FLVPlayer/Debug
/DShowCapture/x64/Debug
/DWMCapture/x64/Debug
/DXApp/x64/Debug
/DXCapture/x64/Debug
/DXFramework/x64/Debug
/FLVPlayer/x64/Debug
/GameDetour/x64/Debug
/TinyApp/x64/Debug
/TinySmiley/x64/Debug
/TinyUI/x64/Debug
/DWMCapture64/Debug
/DWMCapture64/x64/Debug
/DWMDetour64/Debug
/DWMDetour64/x64/Debug
/DWMDetour/Debug
/DWMDetour/x64/Debug
/TinyApp/resource.pb.h
/TinyApp/resource.pb.cc
/MShowApp/Debug
/.vs/TinyUI/v14
/MShow/Debug/MShow.tlog
/MShow/Debug
/ThirdParty/sdk
*.aac
*.rar
/ThirdParty/jsoncpp/lib/pkgconfig
/MShowApp/x64/Debug
/NvVideoCodec/Debug
/MShow/Release
/DWMDetour/Release/DWMDetour.tlog
