################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/DShowCapture/Debug
/DXApp/Debug
/DXCapture/Debug
/DXFramework/Debug
/GameDetour/Debug
/ipch
/TinyApp/Debug
/TinySmiley/Debug
/TinyUI/Debug
*.db
*.opendb
/Encode/Debug
/DShowCapture/Release
/DXApp/Release
/DXCapture/Release
/DXFramework/Release
/GameDetour/Release
/Release
/TinyApp/Release
/TinySmiley/Release
/TinyUI/Release
*.suo
/WebRTCNS/Debug/WebRTCNS.tlog
/WebRTCNS/Debug
/OpenGL/Debug
/AudioToolkit/Debug
/Decode/Debug
/Decode/Release
/MFCapture/Debug
/报告20161223-1039.vspx
/报告20161223-1036.vspx
